.statistics-container {
  padding: 1rem;
}

.statistics-container .header h1 {
  font-size: 1.7rem;
  color: #333;
  margin-bottom: 1rem;
}

.statistics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.statistic-item {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  transition: transform 0.2s, box-shadow 0.2s;
}

.statistic-item h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.pending-items {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.pending-items h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.pending-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pending-items ul li {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid #eaeaea;
}